@{
    ViewData["Title"] = "Home Page";
    ViewData["NoBox"] = true;
    var ArticleCount = ViewData["ArticleCount"];

}

@using JoCoHome_Dollo.Models


<div class="text-center">

</div>



<div class="row" style="margin: 2rem;">
    <div class="col-md-3">
        <div class="info-box">
            <!-- Apply any bg-* class to to the icon to color it -->

        </div>
        <!-- /.info-box -->
    </div>


</div>


