<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JoCoHome</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        body 
        {
            background-color: #f1e8dd;
        }

        footer
        {
            clear: both;
            width: 20px;
            background-color: rgb(55, 75, 53);
            height: 490px;
            top: 150%;
            padding: 10px 0px 25px 0px;
        }
        ul {
            line-height: 100%
        }
            li {
            margin: 5px 0;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: rgb(55, 75, 53); color: white;">
            <div class="container">
                <img src="~/lib/bootstrap/jocohomelogo.png" height="50" width="50" style="border-radius:100px;" />
                <br />
                <a class="navbar-brand" style="color: white;" asp-area="" asp-controller="Home" asp-action="Index">JoCoHome</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="Index">Huisjes</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy?</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Contacts" asp-action="Create">Contact</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Admin" asp-controller="home" asp-action="Index">Admin</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" style="color: white; height:350px; width:100%">
        <div class="container bottom_border" style="height:300px">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col" style="width:33%;">
                    <h5 class="headin5_amrc col_white_amrc pt2">Contact</h5>
                    <!--headin5_amrc-->
                    <p class="mb10">
                    <li>Plaats: Alkmaar</li>
                    <li>Telefoon nummer: +31 6 543210</li>
                    <li>E-mail: JoCoHome@gmail.com</li>
                </div>

                <div class=" col-sm-4 col-md  col-6 col" style="width:33%;">
                    <h5 class="headin5_amrc col_white_amrc pt2">Kaart</h5>
                    <!--headin5_amrc-->
                    @*<ul class="footer_ul_amrc">*@
                        @*<li>*@<iframe width="300" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=horizon%20college%20alkmaar&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>@*</li>*@
                    @*</ul>*@
                    <!--footer_ul_amrc ends here-->
                </div>
                <div class=" col-sm-4 col-md  col-6 col" style="width:33%;">
                    <h5 class="headin5_amrc col_white_amrc pt2">Openingstijden</h5>
                    <ul>
                        <li>maandag 12:00–22:00</li>
                        <li>dinsdag 12:00–22:00</li>
                        <li>woensdag 12:00–22:00</li>
                        <li>donderdag 12:00–22:00</li>
                        <li>vrijdag 12:00–22:00</li>
                        <li>zaterdag 12:00–22:00</li>
                        <li>zondag 12:00–22:00</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center" style="margin-top:-3%;">Copyright &copy;2020 | Ontworpen door <a href="https://github.com/venjelle/JoCoHome_Dollo_P3-P4">Dollo</a></p>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
