@{
        ViewData["Title"] = "Index";
}

<h2>Producten</h2>

<p>Welkom op de product pagina!</p>

<img src="https://cdn.roompot.com/assets/imgs/vakantieparken/nederland/zeeland/roompot-beach-resort/beach-house/beach-house-6-pers/556942/accommodatie-header/640x290/70391.jpg" alt="Alternate Text" />