@{
        ViewData["Title"] = "Index";
}

<h2>Zon? Strand.</h2>
<h2>Rust? Bos.</h2>
<h2>Huisje? JoCoHome.</h2>

<p>Welkom op de website van JoCoHome. Dé huisjes verhuurdienst die gespecialiseerd is in huisjes rond rustige omgevingen.</p>

<img src="https://cdn.roompot.com/assets/imgs/vakantieparken/nederland/zeeland/roompot-beach-resort/beach-house/beach-house-6-pers/556942/accommodatie-header/640x290/70391.jpg" alt="Alternate Text" style="height: 100%; width:100%;"/>

<div style="">Dit zijn</div>
<div>uw nieuws artikelen.</div>