@{
    ViewData["Title"] = "Nieuws";
}

<h2>Nieuwspagina</h2>

<p>Op deze website volgt u het nieuws rondon JoCoHome</p>

<img src="https://joebalestrino.com/wp-content/uploads/2019/02/Marketplace-Lending-News.jpg" alt="Alternate Text" style="height: 100%; width:100%;" />

<div style="">Dit zijn</div>
<div>uw nieuws artikelen.</div>